# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/

# production
/build

# data (local file store — never commit real data)
/data/*
!/data/.gitkeep

# misc
.DS_Store
*.pem
Thumbs.db

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
.env*.local
.env.local

# typescript
*.tsbuildinfo
next-env.d.ts
